---
import type { Product } from '../../types/product'
import AddToCart from './AddToCart';
import Description from './Description';
import AddToWishList from './AddToWishList'; 

interface Props {
  product: Product
}

const { product } = Astro.props
const clientId = import.meta.env.PUBLIC_CLIENT_ID
---

<div class='w-full flex flex-row justify-between items-start gap-8 flex-wrap lg:flex-nowrap'>
  <section class='w-full lg:w-1/2'>
    <figure class='w-full rounded overflow-hidden mb-4'>
      <img
        class='w-full hover:scale-110 transition'
        src={product.image}
        alt={product.name}
        title={product.name}
      />
    </figure>

    <footer class='w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4'>
      {product.images.map((image) => (
        <img 
          class='w-full aspect-[16/10] object-cover object-center hover:scale-110 hover:shadow-lg rounded transition'
          src={image.link}
          alt={product.name}
          title={product.name}
        />
      ))}
    </footer>
  </section>

  <section class='w-full lg:w-1/2'>
    <h3 class='text-4xl font-black mb-3 text-center'>
      {product.name}
    </h3>

    <p class='font-normal text-base'>
      <span class='font-semibold'>Modelo: </span>
      {product.model}
    </p>

    <p class='font-normal text-base'>
      <span class='font-semibold'>Disponibilidad: </span>
      {product.stock} en stock
    </p>

    <p class='font-normal text-base'>
      <span class='font-semibold'>Descripción: </span>
      {product['short-description']}
    </p>

    <p class='font-normal text-base'>
      <span class='font-semibold'>Peso: </span>
      {product.weight} kg
    </p>

    <p class='font-normal text-base'>
      <span class='font-semibold'>Longitud: </span>
      {product.length} mts
    </p>

    <p class='font-normal text-base'>
      <span class='font-semibold'>Ancho: </span>
      {product.width} mts
    </p>

    <p class='font-normal text-base'>
      <span class='font-semibold'>Alto: </span>
      {product.height} mts
    </p>

    <p class='my-4 text-4xl font-black text-indigo-500'>
      ${(product.price)}
    </p>

    <AddToWishList 
      product={product}
      client:load
    />

    <AddToCart
      stock={product.stock}
      product={product}
      client:load
    />

    <Description
      description={product.description}
      client:load
    />
  </section>
</div>
