---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import { orders } from '../data/orders'
import { currencyFormatter } from '../lib/currency-formatter'
---

<Layout
  title='Ganadería el infierno | perfil de usuario'
  description='Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc.'
  imageFullUrl='https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png'
  showSlider={false}
>
  <Title title='Historial de ordenes' />

  {orders.map((order) => (
    <article class='w-full my-4 border-[1px] border-gray-300 rounded p-4'>
      <header class='w-full flex justify-between items-center gap-4'>
        <h2 class='text-2xl font-bold'>
          Orden con id: <span class='font-normal'>{order.id}</span>
        </h2>

        <div class='flex justify-end items-center gap-2'>
          <p class='bg-gray-200 py-1 px-4 rounded-full text-sm'>
            Fecha: <span class='font-light'>{order.date}</span>
          </p>
          
          <a href={`/orders/${order.id}`} class='bg-indigo-500 hover:bg-indigo-700 hover:shadow-lg hover:scale-105 transition text-white font-medium py-1 px-4 rounded-full text-sm'>
            Ver más...
          </a>
        </div>
      </header>

      <main class='my-2'>
        <p class='text-base font-semibold'>
          Estado de la orden:{' '}
          <span class={`py-0.5 px-3 text-white text-sm rounded-full ${order.status === 'PENDING' ? 'bg-orange-500' : 'bg-green-600'}`}>
            {order.status === 'PENDING' ? 'Pendiente' : 'Pagada'}
          </span>
        </p>

        <p class='text-base font-semibold'>
          Total a pagar:{' '}
          <span class='font-normal'>{currencyFormatter.format(order.total)}</span>
        </p>
        
        <p class='text-base font-semibold'>
          Dirección de entrega:{' '}
          <span class='font-normal'>
            {order.address.street} #{order.address.no_out},{' '}
            {order.address.no_in && `${order.address.no_in}, `}
            {order.address.city}, {order.address.country}
          </span>
        </p>

        <p class='text-base font-semibold'>
          Teléfono:{' '}
          <span class='font-normal'>{order.address.phone}</span>
        </p>
      </main>

      <footer class='w-full mt-4 flex justify-start items-start gap-4 flex-wrap'>
        {order.products.map(({ quantity, product }) => (
          <article class='flex flex-col justify-center items-center'>
            <picture>
              <img
                src={product.image}
                alt={product.name}
                title={product.name}
                class='w-32 aspect-[16/12] object-cover object-center rounded'
              />
            </picture>

            <div class='flex mt-2 justify-center items-start gap-2'>
              <p class='max-w-48 text-pretty'>
                {product.name}
              </p>

              <span class='w-8 h-8 bg-indigo-500 text-white grid place-content-center font-bold rounded-full'>
                {quantity}
              </span>
            </div>
          </article>
        ))}
      </footer>
    </article>
  ))}
</Layout>
