---
import AddToCartIcon from '../components/icons/AddToCartIcon.astro'
import AddToWishList from '../components/icons/AddToWishList.astro'
import ShopBill from '../components/icons/ShopBill.astro'
import type { Product } from '../types/products'

interface Props {
  products: Product[]
}

const { products } = Astro.props
---

<section>
  <h2 class="text-3xl font-bold text-slate-800 mb-4">
    Productos destacados
  </h2>

  <section class="w-full flex justify-between items-start gap-4 flex-wrap">
    {products.map((product: Product) => (
      <article class="w-1/4 border rounded-md border-slate-400 p-4">
        <header>
          <a href="">
            <img 
              src={product.image}
              alt={product.name}
              class=""
            />
          </a>
        </header>

        <main>
          <a href="">
            <h3>
              {product.name}
            </h3>
          </a>

          <p>
            {product['short-description']} 
          </p>

          <p>
            ${product.price}
          </p>

          <p>
            Impuestos: ${product.price}
          </p>
        </main>

        <footer>
          <button>
            <AddToCartIcon />  
          </button>

          <button>
            <AddToWishList />
          </button>

          <button>
            <ShopBill />
          </button>
        </footer>
      </article>
    ))}
  </section>
</section>
