---
import ProductDetails from '../../components/products/ProductDetails.astro'
import Reviews from '../../components/products/Reviews'
import { products as db } from '../../data/products'
import Layout from '../../layouts/Layout.astro'

const { slug } = Astro.params
const product = db.find((p) => p.slug === slug)

if (product === undefined) {
  return Astro.redirect('/404', 404)
}
---

<Layout
  title={`Ganadería el infierno | ${product?.name}`}
  description={product?.['short-description'] ?? 'Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc.'}
  keywords={product?.name}
  imageFullUrl={`https://ganaderia-el-infierno.vercel.app/${product?.image}`}
  showSlider={false}
>
  <ProductDetails
    product={product}
  />
  
  <h3 class='mt-16 text-2xl font-medium'>
    Opiniones Sobre el Producto
  </h3>

  <Reviews
    client:load
    reviews={product.reviews}
  />
</Layout>
