---
import Title from '../../components/Title.astro'
import OrderProduct from '../../components/orders/OrderProduct.astro'
import { orders as db } from '../../data/orders'
import Layout from '../../layouts/Layout.astro'
import { currencyFormatter } from '../../lib/currency-formatter'

const { id } = Astro.params
const order = db.find((p) => p.id === Number(id))

if (order === undefined) {
  return Astro.redirect('/404', 404)
}
---

<Layout
  title='Ganadería el infierno | perfil de usuario'
  description='Tienda en linea para la venta de ganado, alimento para ganado, vacas, toros, forrajes, alimentos balanceados, becerros, etc.'
  imageFullUrl='https://ganaderia-el-infierno.vercel.app/images/logo-magtimus.png'
  showSlider={false}
>
  <Title title={`Orden con id: ${order.id}`} />

  <p class='text-lg font-semibold mb-1'>
    Fecha de la orden:{' '}
    <span class='py-0.5 px-3 bg-gray-300 rounded-full text-sm font-light'>{order.date}</span>
  </p>

  <p class='text-lg font-semibold'>
    Estado actual de la orden:{' '}
    <span class={`py-0.5 px-3 text-white text-sm rounded-full ${order.status === 'PENDING' ? 'bg-orange-500' : 'bg-green-600'}`}>
      {order.status === 'PENDING' ? 'Pendiente' : 'Pagada'}
    </span>
  </p>

  <p class='text-lg font-semibold'>
    Numero de productos comprados:{' '}
    <span class='font-normal'>{order.products.length}</span>
  </p>

  <p class='text-lg font-semibold'>
    SubTotal a pagar:{' '}
    <span class='font-normal'>{currencyFormatter.format(order.subtotal)}</span>
  </p>
  
  <p class='text-lg font-semibold'>
    Impuestos:{' '}
    <span class='font-normal'>{currencyFormatter.format(order.tax)}</span>
  </p>
  
  <p class='text-lg font-semibold'>
    Total a pagar:{' '}
    <span class='font-normal'>{currencyFormatter.format(order.total)}</span>
  </p>

  <p class='text-lg font-semibold'>
    Dirección de entrega:{' '}
    <span class='font-normal'>
      {order.address.street} #{order.address.no_out},{' '}
      {order.address.no_in && `${order.address.no_in}, `}
      {order.address.city}, {order.address.country}
    </span>
  </p>

  <p class='text-lg font-semibold mb-4'>
    Teléfono:{' '}
    <span class='font-normal'>{order.address.phone}</span>
  </p>

  <Title title='Productos en la orden' />

  <section id='products' class='w-full gap-x-6 gap-y-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4'>
    {order.products.map(({ quantity, product }) => (
      <OrderProduct
        product={product}
        quantity={quantity}
      />
    ))}
  </section>
</Layout>
