---
import { ViewTransitions } from "astro:transitions"
import GoogleAnalytics from "../components/GoogleAnalytics.astro"
import ToasterViewer from "../components/islands/ToasterViewer"
import AdminMenu from "../components/islands/AdminMenu"

interface Props {
  title: string
  description: string
  keywords?: string
  imageFullUrl?: string
  isForLogin?: boolean
}

const {
  title,
  description,
  keywords = '',
  imageFullUrl = '',
  isForLogin = false 
} = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Google Analytics -->
    <GoogleAnalytics />

    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={`Ganadería el infierno, Ganadería, Ganado, Alimento para ganado, Toros, Vacas, Becerros, Bovinos, Crianza, Ganaderos, Engorda, Ganaderías, Ranchos, Compra, Venta, ${keywords}`}>
    <meta name="author" content="Equipo 3 - Cesar, Luis, Hector, Manuel y Aranzazu">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Language" content="es">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://ganaderia-el-infierno.vercel.app/">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@chicho69_cesar">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={imageFullUrl}>

    <meta name='og:title' content={title} />
    <meta name='og:description' content={description }/>
    {imageFullUrl && (
      <meta name='og:image' content={imageFullUrl} />
    )}
    
    <link rel="icon" type="image/png" href="/icon.png" />
    <title>{title}</title>

    <ViewTransitions />
  </head>

  <body class="min-h-screen flex flex-col">
    <header class="w-full p-[0.625rem] bg-white fixed border-b-[0.5px] border-gray-200">
      <section>
        <div>
          <img
            class="w-20 object-cover object-center"
            src="/logo.jpeg"
            alt="Logo de la tienda"
            title="Logo de la tienda"
          />
        </div>

        <div>
          <!-- info -->
        </div>
      </section>
    </header>

    <main class="w-full flex flex-1 pt-16 flex-row justify-start items-start gap-4 bg-gray-100">
      <!-- Admin Menu -->
      {!isForLogin && (
        <AdminMenu client:only />
      )}

      <section class="flex-1">
        <slot />
      </section>
    </main>

    <!-- Toaster -->
    <ToasterViewer
      client:load
      transition:persist
    />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  .nav-scroll::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  .nav-scroll::-webkit-scrollbar-thumb {
    background: #364552;
    border-radius: 5px;
  }
</style>
